@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body {
  background: rgb(108, 7, 1);
  color: white;
  font-family: 'Rubik', sans-serif;
}

.timer > div:not(:first-child) {
  display: none;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabs {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  background: rgb(72, 7, 4);
  padding: 25px 10px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  line-height: 1.5;
}

.tabs li {
  cursor: pointer;
  border-left: 2px solid rgb(50, 5, 2);
  padding: 10px;
  text-align: center;
  transition: 0.2s;
}

.tabs li:hover {
  background-color: rgb(50, 5, 2);
  color: white;
}

.tabs li:last-child {
  border-right: 2px solid rgb(50, 5, 2);
}

.timer {
  padding: 50px;
  background-color: rgb(72, 7, 4);
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.timer .time {
  padding: 25px;
  margin: 10px;
}

.timer button {
  background-color: rgb(85, 8, 2);
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  transition: 0.2s;
  border: 2px solid rgb(69, 7, 3);
  font-family: 'Rubik', sans-serif;
}

.timer button:hover {
  background-color: rgb(95, 10, 5);
  border: 2px solid rgb(69, 7, 3);
}